# 2023 ACS5

On December 12, 2024, the U.S. Census Bureau released the 
[ACS 5-Year Data](https://www.census.gov/data/developers/data-sets/acs-5year.html)
for 2023. This simple notebook demonstrates how `censusdis` was able to 
use the data immediately upon it's release.

In [1]:
import censusdis.data as ced
from censusdis.datasets import ACS5
from censusdis.states import ALL_STATES_AND_DC

In [2]:
ced.variables.search(ACS5, 2023, pattern="median household income")

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2023,acs/acs5,B19013A,B19013A_001E,Estimate!!Median household income in the past ...,NaN,None
1,2023,acs/acs5,B19013B,B19013B_001E,Estimate!!Median household income in the past ...,NaN,None
2,2023,acs/acs5,B19013C,B19013C_001E,Estimate!!Median household income in the past ...,NaN,None
3,2023,acs/acs5,B19013D,B19013D_001E,Estimate!!Median household income in the past ...,NaN,None
4,2023,acs/acs5,B19013E,B19013E_001E,Estimate!!Median household income in the past ...,NaN,None
5,2023,acs/acs5,B19013F,B19013F_001E,Estimate!!Median household income in the past ...,NaN,None
6,2023,acs/acs5,B19013G,B19013G_001E,Estimate!!Median household income in the past ...,NaN,None
7,2023,acs/acs5,B19013H,B19013H_001E,Estimate!!Median household income in the past ...,NaN,None
8,2023,acs/acs5,B19013I,B19013I_001E,Estimate!!Median household income in the past ...,NaN,None
9,2023,acs/acs5,B19013,B19013_001E,Estimate!!Median household income in the past ...,NaN,None
10,2023,acs/acs5,B19049,B19049_001E,Estimate!!Median household income in the past ...,NaN,None
11,2023,acs/acs5,B19049,B19049_002E,Estimate!!Median household income in the past ...,NaN,None
12,2023,acs/acs5,B19049,B19049_003E,Estimate!!Median household income in the past ...,NaN,None
13,2023,acs/acs5,B19049,B19049_004E,Estimate!!Median household income in the past ...,NaN,None
14,2023,acs/acs5,B19049,B19049_005E,Estimate!!Median household income in the past ...,NaN,None
15,2023,acs/acs5,B22008,B22008_001E,Estimate!!Median household income in the past ...,NaN,None
16,2023,acs/acs5,B22008,B22008_002E,Estimate!!Median household income in the past ...,NaN,None
17,2023,acs/acs5,B22008,B22008_003E,Estimate!!Median household income in the past ...,NaN,None
18,2023,acs/acs5,B25099,B25099_001E,Estimate!!Median household income --!!Total:,NaN,None
19,2023,acs/acs5,B25099,B25099_002E,Estimate!!Median household income --!!Total:!!...,NaN,None
20,2023,acs/acs5,B25099,B25099_003E,Estimate!!Median household income --!!Total:!!...,NaN,None
21,2023,acs/acs5,B25119,B25119_001E,Estimate!!Median household income in the past ...,NaN,None
22,2023,acs/acs5,B25119,B25119_002E,Estimate!!Median household income in the past ...,NaN,None
23,2023,acs/acs5,B25119,B25119_003E,Estimate!!Median household income in the past ...,NaN,None
24,2023,acs/acs5,B29004,B29004_001E,Estimate!!Median household income in the past ...,NaN,None

In [3]:
ced.download(ACS5, 2023, ["NAME", "B19013A_001E"], state="*")

   STATE                  NAME  B19013A_001E
0     01               Alabama         71604
1     02                Alaska         96587
2     04               Arizona         80708
3     05              Arkansas         63298
4     06            California        104027
5     08              Colorado         96764
6     09           Connecticut        103032
7     10              Delaware         89816
8     11  District of Columbia        166774
9     12               Florida         76644
10    13               Georgia         85384
11    15                Hawaii         96912
12    16                 Idaho         76208
13    17              Illinois         88732
14    18               Indiana         73680
15    19                  Iowa         75007
16    20                Kansas         75516
17    21              Kentucky         64547
18    22             Louisiana         72467
19    23                 Maine         72272
20    24              Maryland        113334
21    25         Massachusetts        108161
22    26              Michigan         75833
23    27             Minnesota         90751
24    28           Mississippi         68018
25    29              Missouri         72475
26    30               Montana         71397
27    31              Nebraska         77418
28    32                Nevada         81785
29    33         New Hampshire         96250
30    34            New Jersey        110086
31    35            New Mexico         68748
32    36              New York         94737
33    37        North Carolina         77601
34    38          North Dakota         79958
35    39                  Ohio         74650
36    40              Oklahoma         67855
37    41                Oregon         81323
38    42          Pennsylvania         81199
39    44          Rhode Island         92346
40    45        South Carolina         76932
41    46          South Dakota         75558
42    47             Tennessee         71762
43    48                 Texas         85168
44    49                  Utah         94403
45    50               Vermont         78402
46    51              Virginia         97470
47    53            Washington         96107
48    54         West Virginia         58553
49    55             Wisconsin         79046
50    56               Wyoming         75867
51    72           Puerto Rico         25679